.whatis{
    width: 100%;
    /* background: #040C18; */
    padding-bottom: 4rem;
}
.inner_div{
    background: linear-gradient(137deg, rgba(15, 66, 121, 1) 0%, rgba(15, 66, 121, 1) 81%, rgba(27, 120, 222, 1) 100%);
    padding: 4rem 2rem;
}
.top__section{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.top__section p{
    color: var(--color-text);
    font-size: 1rem;
    line-height: 1.6;
}
.middle__section h1{
    background: var(--gradient-text);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2.5rem;
    font-weight: 800;
}
.middle__section p{
   background: var(--gradient-text);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   font-weight: 700;
   min-width: 150px;
}
.middle__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}
.middle__section div:first-child{
    padding-right: 25rem;
}
.last__section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    gap: 4rem;
}
@media (0px < width <= 1050px) {
    .top__section{
        gap: 6rem;
    }
    .middle__section h1{
        font-size: 2rem;
    }
    .middle__section div:first-child{
        padding-right: 10rem;
    }
    .last__section{
        gap: 2rem;
    }
}
@media (0px < width <= 830px) {
    .last__section{
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
    
}
@media (0px < width <= 650px) {
    .top__section{
        flex-direction: column;
        gap: 0rem;
    }
    .middle__section{
        margin-top: 2rem;
        flex-direction: column;
    }
    .middle__section h1{
        font-size: 1.5rem;
        text-align: center;
    }
    .middle__section div:first-child{
        padding-right: 0rem;
    }
    .last__section{
        grid-template-columns: 1fr;
        gap: 3.5rem;
    }
}