.imagination{
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    padding: 4rem 2rem 0rem;
    overflow: hidden;
}
.inner__imagination{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.left__content img{
    width: 100%;
}
.right__content__ign{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
.right__content__ign p:nth-child(1){
    color: #71E5FF;
}
.right__content__ign h1{
    font-size: 2.8rem;
    font-weight: 800;
    background-image: var(--gradient-text);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.right__content__ign p:last-child{
    color: var(--color-subtext);
}
@media (0px < width <= 1050px) {
    .inner__imagination{
        grid-template-columns: 1fr;
    }
    .imagination{
        padding-bottom: 4rem;
    }
    .right__content__ign{
        margin-top: -40px;
    }
    .right__content__ign h1{
        font-size: 3.3rem;
    }
}
@media (0px < width <= 650px) {
    .right__content__ign h1{
        font-size: 3rem;
    }
    .imagination{
        padding-bottom: 3rem;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (0px < width <= 480px) {
    .right__content__ign h1{
        font-size: 2.5rem;
    }
}
